<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/profile.css">

    <link rel="icon" href="https://img.freepik.com/free-vector/illustration-cloud-icon_53876-6322.jpg?w=2000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="static/navegar.js"></script>
    <script src="static/crud.js"></script>
</head>
<title>Dashboard</title>
<body>
{% if errorEspacio %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Ya no hay espacio disponible!
</div>
{% endif %}
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <!--PERFIL-->
                <div class="side-bar">
                    <div class="user-info">
                        <h2>Bienvenidx de nuevo!</h2>
                        <img class="img-profile img-circle img-responsive center-block" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/84587/preview.svg" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{ name }} 
                                <h5><label class="label label-info" id="email" value="{{ email }}">{{ email }}</label></h5>
                            </li>
                            <li class="name" style="padding-top: 10px;"> Espacio disponible <b>{{ storage }} KB</b></li>
                            <p id="name" data-value="{{ name }}"></p>
                            <p id="rutas" data-value="{{ rutas }}"></p>
                        </ul>
                    </div>
                </div>
                <!--BOTONES-->
                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">My Drive</h2>
                        <ol class="breadcrumb text-big container-p-x py-3 m-0">
                            <li class="breadcrumb-item">
                                {% for ruta in rutas%}
                                <a href="/rutaAnterior?ruta={{ruta}}&rutas={{rutas}}&email={{ email }}&name={{ name }}&carpetasRutas={{carpetasRutas}}">{{ruta}}</a>
                                {% endfor%}
                            </li>
                        </ol>
                    </div>
                    <div class="content-utilities">
                        <div class="actions">
                            <div class="btn-group" role="group">
                                <button id="addButton" type="button" class="btn btn-default " data-toggle="tooltip" data-placement="bottom" title="Add" onclick="agregarArchivo()"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Archive" onclick="agregarCarpeta()"><i class="fa fa-archive"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete" onclick="eliminarCarpeta()"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="fa fa-share-alt-square"></i></button> 
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Move" onclick="moverCarpeta()"><i class="fa fa-arrows"></i></button> 
                                <!--Boton para copiar carpetas-->
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Move" onclick="copiarCarpeta()"><i class="fa fa-files-o"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--ARCHIVOS-->
                    <div class="drive-wrapper drive-list-view">
                        <div class="table-responsive drive-items-table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="type"></th>
                                        <th class="name truncate">Name</th>
                                        <th class="date">Uploaded</th>
                                        <th class="size">Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for archivo in archivos%}
                                    <tr>
                                        <td class="type"><i class="fa fa-file-text-o text-primary"></i></td>
                                        <td class="name truncate"><a class="button archivo" href="#popup1" id="{{loop.index}}" data-value="{{archivo}}">{{archivo.name}}</a></td>
                                        <td class="date">{{archivo.updated}}</td>
                                        <td class="size">{{archivo.size}}</td>
                                    </tr>
                                    {% endfor%}
                                    {% for carpeta in folders%}
                                    <tr>
                                        <td class="type"><i class="fa fa-folder text-primary"></i></td>
                                        <td class="name truncate"><a class="button carpeta" href="#" id="carp{{loop.index}}" data-value="{{carpeta}}">{{carpeta.name}}</a></td>
                                        <td class="date">{{carpeta.updated}}</td>
                                        <td class="size">--</td>
                                    </tr>
                                    {% endfor%}
                            </table>
                            <!--POP UP-->
                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <h2 id="nombre">Nombre del archivo</h2>
                                        <p>Contenido: </p>
                                        <p id="fileContent"></p>
                                        <p>Tamaño: </p>
                                        <p id="sizeP" style="color: rgb(180, 172, 172);"></p>
                                        <p>Fecha de creacion: </p>
                                        <p id="fechaCP" style="color: rgb(180, 172, 172);"></p>
                                        <p>Fecha de modificación: </p>
                                        <p id="fechaMP" style="color: rgb(180, 172, 172);"></p>
                                        <p>Usuario: </p>
                                        <p id="usuarioP" style="color: rgb(180, 172, 172);"></p>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit" onclick="editarArchivo()"><i class="fa fa-pencil-square"></i></button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy1"><i class="fa fa-desktop"></i></button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy2"><i class="fa fa-cloud-download"></i></button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy3"><i class="fa fa-files-o"></i></button> 
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Move" onclick="moverArchivo()"><i class="fa fa-arrows"></i></button> 
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="fa fa-share-alt-square"></i></button> 
                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete" onclick="eliminarArchivo()"><i class="fa fa-trash-o"></i></button>

                                    </div>
                                </div>
                            </div>
                            <!--POP UP 2 CREAR ARCHIVO-->
                            <div class="form-popup" id="myForm">
                                <div class="form-container">
                                  <h2>Crear archivo</h2>
                              
                                  <label for="nombre"><b>Nombre</b></label>
                                  <input type="text" placeholder="Ingresar nombre del archivo" id="nombre1" required>
                              
                                  <label for="contenido"><b>Contenido</b></label>
                                  <input type="text" placeholder="Ingresar contenido del archivo" id="contenido" required>
                              
                                  <label for="extension"><b>Extension</b></label>
                                  <input type="text" placeholder="Ingresar extension del archivo" id="extension" required>
                              
                                  <button type="submit" class="btn" onclick="enviarForm()">Crear</button>
                                  <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                                </div>
                            </div>
                            <!--POP UP 3 CREAR CARPETA-->
                            <div class="form-popup" id="formCarpeta">
                                <div class="form-container">
                                  <h2>Crear carpeta</h2>
                              
                                  <label for="nombre"><b>Nombre</b></label>
                                  <input type="text" placeholder="Ingresar nombre de la carpeta" id="nombre2" required>
                              
                                  <button type="submit" class="btn" onclick="enviarCarpeta()">Crear</button>
                                  <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                                </div>
                            </div>
                            <!--POP UP 4 ELIMINAR CARPETA-->
                            <div class="form-popup" id="formElimCarpeta">
                                <div class="form-container">
                                  <h2>Eliminar carpeta</h2>
                              
                                  <label for="nombre"><b>Seguro que desea eliminar esta carpeta? Todo el contenido dentro de ella se borrara tambien</b></label>
                                  
                                  <button type="submit" class="btn" onclick="enviarEliminar()">Eliminar</button>
                                  <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                                </div>
                            </div>
                            <!--POP UP 5 EDITAR ARCHIVO-->
                            <div class="form-popup" id="formEditarArchivo">
                                <div class="form-container">
                                  <h2>Editar Archivo</h2>
                              
                                  <label for="nombre"><b>Contenido</b></label>
                                  <input type="text" placeholder="Ingrese el nuevo contenido" id="nuevoContenido" required>
                              
                                  <button type="submit" class="btn" onclick="updateArchivo()">Editar</button>
                                  <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                                </div>
                            </div>
                            <!-- POP UP 6 ALERTA SUSTITUCION-->
                            {% if error %}
                            <div class='dialog-ovelay fadeIn'>
                                <div class='dialog zoomIn'>
                                  <header>
                                    <h3> Alerta! </h3>
                                      <i class='fa fa-close'></i>
                                  </header>
                                  <div class='dialog-msg'>
                                    <p id="nombreArchivo" data-value="{{nombreArchivo}}"> El archivo ya existe. Desea sustituirlo? </p> 
                                    <p id="contenido2" data-value="{{contenido}}"></p>
                                  </div>
                                  <footer>
                                    <div class='controls'>
                                      <button class='button button-primary-flat' onclick="sustituirArchivo(this)"> Ok </button> 
                                      <button class='button button-default-flat cancelAction' onclick="cancelarArchivo(this)"> Cancelar </button> 
                                    </div>
                                  </footer>
                              </div>
                            </div>
                            {% endif %}
                            <!-- POP UP 7 ALERTA SUSTITUCION CARPETA-->
                            {% if errorCarpeta %}
                            <div class='dialog-ovelay fadeIn'>
                                <div class='dialog zoomIn'>
                                    <header>
                                    <h3> Alerta! </h3>
                                        <i class='fa fa-close'></i>
                                    </header>
                                    <div class='dialog-msg'>
                                    <p id="nombreCarpeta" data-value="{{nombreCarpeta}}"> La carpeta ya existe. Desea sustituirla? </p> 
                                    </div>
                                    <footer>
                                    <div class='controls'>
                                        <button class='button button-primary-flat' onclick="sustituirCarpeta(this)"> Ok </button> 
                                        <button class='button button-default-flat cancelAction' onclick="cancelarCarpeta(this)"> Cancelar </button> 
                                    </div>
                                    </footer>
                                </div>
                            </div>
                            {% endif %}
                            <!--POP UP 8 MOVER CARPETA-->
                            <div class="form-popup" id="formMoverCarpeta">
                                <div class="form-container">
                                    <h2>Mover Carpeta</h2>
                              
                                    <label for="nombre"><b>Escoger a donde mover esta carpeta</b></label>
                                    <select name="language" id="language" style="padding: 15px;">
                                        {% if carpetasRutas %}
                                            {% for ruta in carpetasRutas%}
                                            <option value="{{ruta}}">{{ruta}}</option>
                                            {% endfor%}
                                        {% endif %}
                                    </select>
                                    <p id="carpetasRutas" data-value="{{carpetasRutas}}"></p>
                                    <button type="submit" class="btn" onclick="moverCarpetaF()">Mover</button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                                </div>
                            </div>
                            <!--POP UP 8 MOVER ARCHIVO-->
                            <div class="form-popup" id="formMoverArchivo">
                                <div class="form-container">
                                    <h2>Mover Archivo</h2>
                              
                                    <label for="nombre"><b>Escoger a donde mover este archivo</b></label>
                                    <select name="language" id="language" style="padding: 15px;">
                                        {% if carpetasRutas %}
                                            {% for ruta in carpetasRutas%}
                                            <option value="{{ruta}}">{{ruta}}</option>
                                            {% endfor%}
                                        {% endif %}
                                    </select>
                                    <p id="carpetasRutas" data-value="{{carpetasRutas}}"></p>
                                    <button type="submit" class="btn" onclick="moverArchivoF()">Mover</button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>