<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/profile.css">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="static/navegar.js"></script>
</head>
</head>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <!--PERFIL-->
                <div class="side-bar">
                    <div class="user-info">
                        <h2>Bienvenidx de nuevo!</h2>
                        <img class="img-profile img-circle img-responsive center-block" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/84587/preview.svg" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{ name }} 
                                <h5><label class="label label-info">{{ email }}</label></h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--BOTONES-->
                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">My Drive</h2>
                        <ol class="breadcrumb text-big container-p-x py-3 m-0">
                            <li class="breadcrumb-item">
                                {% for ruta in rutas%}
                                <a href="/rutaAnterior?ruta={{ruta}}">{{ruta}}</a>
                                {% endfor%}
                            </li>
                        </ol>
                    </div>
                    <div class="content-utilities">
                        <div class="actions">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Archive"><i class="fa fa-archive"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--ARCHIVOS-->
                    <div class="drive-wrapper drive-list-view">
                        <div class="table-responsive drive-items-table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="type"></th>
                                        <th class="name truncate">Name</th>
                                        <th class="date">Uploaded</th>
                                        <th class="size">Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for archivo in archivos%}
                                    <tr>
                                        <td class="type"><i class="fa fa-file-text-o text-primary"></i></td>
                                        <td class="name truncate"><a class="button archivo" href="#popup1" id="{{loop.index}}" data-value="{{archivo}}">{{archivo.name}}</a></td>
                                        <td class="date">{{archivo.updated}}</td>
                                        <td class="size">{{archivo.size}}</td>
                                    </tr>
                                    {% endfor%}
                                    {% for carpeta in folders%}
                                    <tr>
                                        <td class="type"><i class="fa fa-folder text-primary"></i></td>
                                        <td class="name truncate"><a class="button carpeta" href="#" id="carp{{loop.index}}" data-value="{{carpeta}}">{{carpeta.name}}</a></td>
                                        <td class="date">{{carpeta.updated}}</td>
                                        <td class="size">--</td>
                                    </tr>
                                    {% endfor%}
                            </table>
                            <!--POP UP-->
                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <h2 id="nombre">Nombre del archivo</h2>
                                        <p>Contenido: </p>
                                        <p id="fileContent"></p>
                                        <p>Tamaño: </p>
                                        <p id="sizeP" style="color: rgb(180, 172, 172);"></p>
                                        <p>Fecha de creacion: </p>
                                        <p id="fechaCP" style="color: rgb(180, 172, 172);"></p>
                                        <p>Fecha de modificación: </p>
                                        <p id="fechaMP" style="color: rgb(180, 172, 172);"></p>
                                        <p>Usuario: </p>
                                        <p id="usuarioP" style="color: rgb(180, 172, 172);"></p>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit"><i class="fa fa-pencil-square"></i></button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy1"><i class="fa fa-desktop"></i></button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy2"><i class="fa fa-cloud-download"></i></button>
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy3"><i class="fa fa-files-o"></i></button> 
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Move"><i class="fa fa-arrows"></i></button> 
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Share"><i class="fa fa-share-alt-square"></i></button> 
                                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Save"><i class="fa fa-bookmark"></i></button> 
                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>