<link rel="stylesheet" href="static/login.css">

<!DOCTYPE html>
{% if error == 'error' %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Credenciales invalidas
    </div>
{% endif %}
<form method="POST" action="/login">
    <h1> Log In</h1>
    <input type="email" name="email" placeholder="Correo electrónico" required/>
    <input type="password" name="password" placeholder="Contraseña" required/>
    <button class="btn" type="submit">Log in</button>
</form>
  
<footer>
<h5> </a></h5>
</footer>
